* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 2.5rem;
}

body {
	background-color: #fff;
	padding: 25px;
	text-align: center;
}

.icon-button {
	background-color: white;
	border-radius: 2.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1.3rem;
	height: 2.6rem;
	line-height: 2.6rem;
	position: relative;
	text-align: center;
	width: 2.6rem;
}

.icon-button span {
	position: absolute;
	border-radius: 0;
	display: block;
	height: 0;
	width: 0;
	left: 50%;
	top: 50%;
	margin: 0;
	transition: all 0.3s;
	width: 0;
}

.icon-button:hover span {
	width: 2.6rem;
	height: 2.6rem;
	border-radius: 2.6rem;
	margin: -1.3rem;
}

.icon-button ion-icon {
	position: absolute;
	background: none;
	color: white;
	height: 1.6rem;
	line-height: 1.6rem;
	width: 1.6rem;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); /* Added to center the icon */
	transition: all 0.3s;
	z-index: 10;
}

/* Updated the span styles for each social media icon */
.twitter span {
	background-color: #4099ff;
}

.facebook span {
	background-color: #3b5998;
}

.instagram span {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.youtube span {
	background-color: #bb0000;
}

.pinterest span {
	background-color: #cb2027;
}

.icon-button ion-icon[name="logo-twitter"] {
	color: #4099ff;
}

.icon-button ion-icon[name="logo-facebook"] {
	color: #3B5998;
}

.icon-button ion-icon[name="logo-instagram"] {
	color: #cb2027;
}

.icon-button ion-icon[name="logo-youtube"] {
	color: #bb0000;
}

.icon-button ion-icon[name="logo-pinterest"] {
	color: #cb2027;
}

.icon-button:hover ion-icon[name="logo-twitter"],
.icon-button:hover ion-icon[name="logo-facebook"],
.icon-button:hover ion-icon[name="logo-instagram"],
.icon-button:hover ion-icon[name="logo-youtube"],
.icon-button:hover ion-icon[name="logo-pinterest"] {
	color: white;
}

/* Responsive */
@media all and (max-width: 680px) {
	.icon-button {
		width: 1.6rem;
		height: 1.6rem;
		line-height: 1.6rem;
		font-size: 0.8rem;
		border-radius: 1.6rem;
	}

	.icon-button:hover span {
		margin: -0.8rem;
		border-radius: 1.6rem;
		width: 1.6rem;
		height: 1.6rem;
	}

	/* Updated the position of ion-icon for responsiveness */
	.icon-button ion-icon {
		height: 1rem;
		line-height: 1rem;
		width: 1rem;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	body {
		padding: 10px;
	}

	/* Hide Pinterest icon on smaller screens */
	.pinterest {
		display: none;
	}
}
